[credential]
	helper = "!f() { /home/jarvis/.vscode-server/bin/e54c774e0add60467559eb0d1e229c6452cf8447/node /tmp/vscode-remote-containers-5ad7b1e6-aa7f-4c82-ac76-4ea5765a2af2.js git-credential-helper $*; }; f"
